$main-color: #5436A9;
$white: #fff;
$black: #000;
$yellow: #FFC907;
$red: #E43109;
$gray:#959595;
$height-menu: 80px;
$height-menu-tablet: 60px;
$height-menu-mobile: 50px;

$font-family: "Montserrat", sans-serif;